<h1>hello this is the trip index path </h1>
<%= current_user.email %>

<% @trips.each do |trip| %>
  <div class="trip">
    <%= trip.trip_name %>
    <%= link_to trip.trip_name, trip_path(trip.id) %>
  </div>
<% end %>

<%= link_to "New Trip", new_trip_path %>
