<h1>Any thoughts?</h1>
<%= simple_form_for [@activity, @note] do |f| %>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>
<%= link_to icon('fa-solid', 'chevron-left'),  trip_path, class: 'btn' %>
