// Define variables for your color scheme
// Define variables for your color scheme
:root {

--hunyadi-yellow: #f5ab2dff;
--celestial-blue: #279af1ff;
--eggshell: #FAF5ED;
--midnight-green: #073b4cff;
--raisin-black: #231f20ff;
}
