// Define variables for your color scheme
// Define variables for your color scheme
:root {
  // --hunyadi-yellow: #f5ab2dff;
  --celestial-blue: #279af1ff;
  --eggshell: #faf5ed;
  --midnight-green: #073b4cff;
  --raisin-black: #231f20ff;
  --lightgray: #d3d3d3;
  --teal: #008080;
}
