.favourite-card {
  grid-row-start: 2;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #faf5ed;
  padding: 8px;
  margin: 8px 0px;
}

.search-bar {
  border-radius: 25px;
}

.page-header {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 12;
  font-family: "Gochi Hand", "cursive";
  text-align: center;
  position: sticky;
}

.page-header p {
  font-family: "Quicksand", "sans-serif";
  text-align: center;
}

.favourites {
  grid-row-start: 4;
  grid-row-end: 12;
  grid-column-start: 2;
  grid-column-end: 12;
}

.search-bar {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 10;
}

.search-bar {
  height: 56px;
  padding: 6px;
}

.back-button-favourites {
  grid-column-start: 2;
  grid-row: 12;
}
