// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: relative;
  padding: 150px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.banner h1 {
  margin: 6;
  color: #073b4cff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
  font-family: 'Gochi Hand', "cursive";
  text-align: left;
}

.banner h2{
  margin: 6;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family:  "Quicksand", "sans-serif";
  text-align: left;
}
.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

h3{
  font-size: 20px;
  color: #073b4cff;
  opacity: .5;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align:center;
  padding: 20px;
}
