.trip-form-header {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row: 1;
  padding-bottom: 8px;
  text-align: center;
}

.trip-form {
  margin: 0 auto;
  width: 70%;

}

.form-actions {
  text-align: center;
}
