.trip-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 12 ;
  padding: 8px;
}

.show-recommendations {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 12;
  padding: 8px;
}

.btn{
  background: #073b4cff;
  border-radius: 28px;
  font-family: "Quicksand", "sans-serif";
  color: #f4ebd9ff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  margin: 12px;
  padding: 12px;
}

.recommendations p {
  color: #073b4cff;
  font-family: 'Gochi Hand', "cursive";;
}

.countdown-number {
  font-size: 30px;
}

button {
  background-color: transparent;
  border: none;
}

.trip-card-category{
  display: grid;
  grid-gap: 16px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
  margin: 30px;
}

.trip-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
