.trip-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 12 ;
  padding: 16px;
  background-color: var(--eggshell);
  border-radius: 5px;
  margin: 30px 0px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  #countdown {
    margin-bottom: 0px;
  }

  h1 {
    margin-bottom: 0px;
    font-size: 50px;
    letter-spacing: 2px;
  }

  .trip-title {
    display: flex;
    align-items: center;
  }
}

.trip-details {
  background-color: var(--eggshell);
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 16px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.selected-activities {
  background-color: var(--eggshell);
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 16px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.show-recommendations {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 12;
  padding: 16px;
  margin-bottom: 30px;
}

.trip-recommendations {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 2;
  padding: 16px;
  background-color: var(--eggshell);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  .contents {
    padding-top: 16px;
  }
}

.recommendations p {
  color: #073b4cff;
  font-family: 'Gochi Hand', "cursive";;
}

.countdown-number {
  font-size: 30px;
}

.trip-card-category{
  display: grid;
  grid-gap: 16px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
  margin: 30px;
}

.trip-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  }

  .selected-activities h1{
    color:#073b4cff;
  }

  .visa-content h1{
    color:#073b4cff;
  }

.added-recommendation {
  padding: 16px 16px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {

  li {
    margin: 8px 0px;
  }
}
