<h1>Your Wishlist</h1>
<p>Create a trip by adding a wishlist item to your trip board</p>
<% @favourites.each do |f| %>
  <%= f.name %>
  <% @trip = f.trip %>
  <%= simple_form_for [f], url: add_activity_to_trip_path(@trip, f), method: :post do |f| %>
    <%= f.submit 'Add to Trip' %>
  <% end %>
<% end %>
