<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1494783367193-149034c05e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container p-5">
    <h2>Start planning your next trip with</h2> <span data-controller="typed-js"></span><h1>journo.</h1>
    <br>
    <a class="btn btn-secondary" href="#">SIGN UP</a>
  </div>
</div>
