<h1>USER DASHBOARD</h1>
<p>Pages#user index page? dashboard</p>

  <div class="banner" style="background-image: url(#)">
    <div class="container">
      <h1>Welcome back,<%=@user.first_name%></h1>
      <p>Planning to visit your next dream destination, create a new trip board.</p>
      <a class="btn-secondary" href="#">VIEW TRIP BOARDS</a>
    </div>
  </div>

  <div class="container">
    <h2>YOUR TRIPS</h2>
    <div class="trips-cards">
      <div class="card">
        <img src="#" alt="upcoming-trips">
        <h3>Upcoming Trips</h3>
      </div>

      <div class="card">
        <img src="#" alt="past-trips">
        <h3>Past trips</h3>
      </div>

      <div class="card">
        <img src="#" alt="wishlist-activities">
        <h3>Wishlist Activities</h3>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>ACTIVITIES SUGGESTIONS</h2>
    <div class="suggestion-cards">
      <div class="map">
        <img src="#" alt="map">
      </div>

      <div class="suggested-activities">
        <img src="#" alt="past-trips">
        <h3>Suggested Activities</h3>
      </div>
    </div>
  </div>
