.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  }

.tab-content {
  padding: 8px;
  margin: auto;
}

.hide {
  display: none;
}

.activities-tabs {
  text-align: center;
}
