.tab-content {
  padding: 8px;
  margin: auto;
}

.hide {
  display: none;
}

.activities-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.trip-tab-button {
    padding-bottom: 16px 8px;
    color: var(--midnight-green);
    width: 150px;
    height: 75px;
    text-align: center;
    margin: auto;

    p {
      font-variant: small-caps;
    }

  &:hover {
    cursor: pointer;
  }
}

.active-tab {
  border-bottom: solid 2px orange;
  color: white;

  h2 {
    color: orange;
  }

  p {
    color: orange;
    font-variant: small-caps;
  }
}
