.trip-basket {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 12;
  padding: 8px;
  top: 0;
}

.trip-show-basket {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 4;
  position: sticky;
  padding: 8px;
  top: 0;
}
