.button{
  background: none;
  border-radius: 28px;
  font-family: "Quicksand", "sans-serif";
  color: #073b4cff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background: none;
  color: #073b4cff;
  text-decoration: none;
}

.btn{
  background: none;
  border-radius: 28px;
  font-family: "Quicksand", "sans-serif";
  color: #073b4cff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  margin: 12px;
  padding: 12px;
}

button {
  background-color: transparent;
  border: none;
}
.back-button-favourites {
  grid-column-start: 2;
  grid-row: 12;
}

.new-trip-btn{
  position: absolute;
  width: 55px;
  height: 55px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #073b4cff;
  background: none;
  border-radius: 28px;
  font-family: "Quicksand", "sans-serif";
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-align: center;
}

.tab-button {
  padding: 8px;
  font-weight: 600;
  width: 150px;
  height: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-button:hover {
  cursor: pointer;
  color: #279af1ff;
  color: var(--eggshell);
  border-bottom: 1px solid #279af1ff;
  color:#279af1ff;
}

.tab-button h2 {
margin-top: 8px;
}

.add-button{
  text-align: center;
}

.tab-user-button {
  padding: 8px;
  border-radius: 5px;
  color: var(--eggshell);
  background-color: var(--midnight-green);
  width: 300px;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-user-button:hover {
  cursor: pointer;
  background-color:  var(--eggshell);;
  color: var(--midnight-green);
}

.tab-user-button h1 {
margin-top: 8px;
}

.override-bootstrap {
  &:active {
    border-color: none !important;
  }
}

.search-button {
  background: none;
  border-radius: 28px;
  font-family: "Quicksand", "sans-serif";
  color: #073b4cff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  background-color: var(--eggshell);
}
