.navbar-lewagon {
  justify-content: space-between;
  font-family: "Quicksand", "sans-serif";
  background-color: var(--eggshell);
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.nav-item {
  padding-left: 24px;
  // font-variant: small-caps;
  letter-spacing: 2px;
  font-size: 16px;

  &:hover {
    color: var(--midnightgreen);
  }
}
