.navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  background-color: var(--eggshell);
  height: 80px;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 120px;
  }

  .nav-item {
    padding-left: 24px;
    color: var(--midnightgreen);
    letter-spacing: 2px;
    font-size: clamp(14px, 1.5vw, 16px);
    transition: transform 0.2s ease-in-out;
  }

  .nav-item:hover {
    transform: scale(1.02);
    color: var(--teal);
    text-decoration: underline;
  }

  .scale-icon {
    transform: scale(1.02);
  }
}
