.notes {
  grid-column-start: 2;
  grid-column-end: 8;
  background-color: var(--eggshell);
  padding: 16px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  grid-row-start: auto;
}

.notes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--midnight-green);
  margin-bottom: 8px;
}

.pen {
  font-size: 24px;
  color: var(--midnight-green)
}

.pen:hover {
  cursor: pointer;
}

.note-toggle {
  display: none;
}
