.recommendation-card {
  display: flex;
  border: 1px solid black;
  padding: 8px;
}

.recommendation-card-info {
  width: 70%;
  padding: 8px;
}

.activity-description {
  display: none
}

.trip-basket {
  grid-column-start: 8;
  grid-column-end: 12;
  position: sticky;
  top: 0;
}

.recommendations {
  grid-column-start: 2;
  grid-column-end: 8;
}

.drop:hover {
  cursor: pointer;
}

.recommendation-button {
  padding: 20px 30px;
}
