.recommendation-card {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  background-color: var(--eggshell);
  border-radius: 5px;
  margin-bottom: 8px;
}

.recommendation-card-info {
  width: 70%;
  padding: 8px;
}

.activity-description {
  display: none
}

.recommendations {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 11;
  padding: 8px;

}

.recommendation-button {
  padding: 20px 30px;
}

.drop:hover {
  cursor: pointer;
}
