.trip-card {
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row: 2, 12;
  padding: 8px;
}

.trip-card h3{
  color: #073b4cff;
  font-family: 'Gochi Hand', "cursive";
  font-size: 14;
}

.trip-card h5{
  color: black;
  font-family: "Quicksand", "sans-serif";
  font-size: 12;
}

.add-button {
  display: flex;
  align-items: center;
  justify-items: center;
}
