.trip-banner{
  background-size: cover;
  background-position: relative;
  padding: 150px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.trip-banner h1{
  font-size: 30px;
//   text-align: center;
}
