// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/_lightbox";
@import "pages/user_dashboard";
@import "pages/trips_index";
@import "pages/trip_form";
@import "components/buttons";
@import "components/trip_banner";

body{
  background-color: #073b4cff;
}

h1{
  font-family: 'Gochi Hand', "cursive";
  font-size: 24;
  color: #FAF5ED;
}

h2{
  font-family: "Quicksand", "sans-serif";
  font-size: 22;
  color: #231f20ff;
}

h3{
  font-family: "Quicksand", "sans-serif";
  font-size: 20;
  color: #231f20ff;
}

h4{
  font-family: "Quicksand", "sans-serif";
  font-size: 18;
  color: #231f20ff;
}

h5{
  font-family: "Quicksand", "sans-serif";
  font-size: 16;
  color: #231f20ff;
}

h6{
  font-family: "Quicksand", "sans-serif";
  font-size: 14;
  color: #231f20ff;
}

p{
  font-family: "Quicksand", "sans-serif";
  font-size: 12;
  color: #231f20ff;
}
