<div class="activities-tabs">
  <button class="tablinks" onclick="openCity(event, 'Eat')">Eat</button>
  <button class="tablinks" onclick="openCity(event, 'Do')">Do</button>
  <button class="tablinks" onclick="openCity(event, 'Explore')">Explore</button>
</div>
<div id="eat." class="tabcontent">
  <h3>Eat</h3>
  <%= @eat %>
</div>
<div id="do." class="tabcontent">
  <h3>Do</h3>
  <%= @do %>
</div>
<div id="explore." class="tabcontent">
  <h3>Explore</h3>
  <%= @explore %>
</div>
